html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
    margin: 0 3%;
}

h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;
}

h2 {
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
}

img {
    max-width: 100%;
}

figure {
    background: black;
    border-radius: 5px;
    color: white;
    margin: 0 0 25px 0;
    padding: 10px;
    text-align: center;

}

figcaption {
    font-size: .8em;
}

@media screen and (min-width: 794px) {
    body {
        background: rgba(0, 0, 255, .2);
        margin: 25px 6%;
    }

    figure {
        float: left;
        width: 45%;
        margin-right: 4.5%;
    }
}

@media screen and (min-width: 1020px) {
    body {
        background: rgba(0, 255, 0, .2);
        margin: 25px 10%;
        max-width: 1130px;
    }

    figure {
        width: 30%;
        margin-right: 2.5%;
    }
}



/*Animación 1*/
div {
 width: 100px;
 height: 100px;
 position: relative;
 background-color: red;
 animation-name: example;
 animation-duration: 2s;
 animation-iteration-count: infinite;
}
@keyframes example {
    0% {background-color: red; left:0px;}
    50% {background-color: yellow; left:200px;}
    100% {background-color: red; left:0px;}
   }

/*Animación 2*/
div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate ; 
   }
   @keyframes example {
    0% {background-color: red; left:0px; top:0px;}
    25% {background-color: blue; left:0px; top:200px;}
    50% {background-color: green; left:200px; top:200px;}
    75% {background-color: yellow; left:200px; top:0px;}
    100% {background-color: red; left:0px; top:0px;}
   }
   